<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sesión y CRUD con Nodejs y MongoDb</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


  </head>
  <body>
<!--Navbar-->
<div class="menu-principal text-center">
  
    <!-- NAVIGATION -->
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">Practica 6</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if (!user) { %>
        <li class="nav-item active">
          <a class="nav-link" href="/signin">Iniciar sesion <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Registrarse</a>
        </li>
        <% } else { %>
        <li class="nav-item active">
          <a class="nav-link" href="/tasks">Asignaturas<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Perfil <%=user.email%></a>
        </li>
        <% if (user.rol == "Administrador") { %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Administrador
            </a>
          </li>

          <% } %>

          <% if (user.rol == "Alumno") { %>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Alumno
              </a>
            </li>
            <% } %>

            <% if (user.rol == "Profesor") { %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Profesor
                </a>
              </li>
              <% } %>
        <li class="nav-item">
          <a class="nav-link disabled" href="/logout">Cerrar sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/verUsuarios">Ver Usuarios</a>
        </li>
        <% } %>
      </ul>
      <% if (user) { %>
      <form action="/tasks/search" class="form-inline my-2 my-lg-0 text-center"  method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0 mx-auto " type="submit">Buscar</button>
      </form>
      <% } %>

    </div>
  </nav>
 
</div>






 
