<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sesión y CRUD con Nodejs y MongoDb</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


  </head>
  <body>
<!--Navbar-->
<div class="menu-principal text-center">
  
    <!-- NAVIGATION -->
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if (!user) { %>
        <li class="nav-item active">
          <a class="nav-link" href="/signin">Iniciar sesion <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Registrarse</a>
        </li>
        <% } else { %>

        <li class="nav-item">
          <a class="nav-link" href="/profile">Perfil <%=user.email%></a>
        </li>
      
        <% if (user.rol == "Administrador") { %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Gestionar
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

              <a class="dropdown-item"href="/verAlumnos">Alumnos</a>
              <div class="dropdown-divider"></div>

              <a class="dropdown-item"href="/verProfesores">Profesores</a>
              <div class="dropdown-divider"></div>

              <a class="dropdown-item"href="/verAsignaturas">Asignaturas</a>
              <div class="dropdown-divider"></div>

              <a class="dropdown-item"href="/courses">CURSOS</a>

            </div>
          </li>

          <% } %>

          <% if (user.rol == "Alumno") { %>

            <li class="nav-item active">
              <a class="nav-link" href="/verAsignaturas">Asignaturas<span class="sr-only">(current)</span></a>
            </li>

            <% } %>

            <% if (user.rol == "Profesor") { %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Gestionar
                </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"href="/verAlumnos">Alumnos</a>
                    <div class="dropdown-divider"></div>
            
                    <a class="dropdown-item"href="/verAsignaturas">Asignaturas</a>
                  </div>
                
              </li>
              <% } %>

        <li class="nav-item">
          <a class="nav-link disabled" href="/logout">Cerrar sesion</a>
        </li>

        <% } %>
      </ul>
      <% if (user) { %>
        <form  class="form-inline my-2 my-lg-0 text-center"  >
          <button class="btn btn-success my-2 my-sm-0 mx-auto " disabled>  <%=user.rol%> </button>
        </form>
        <% } %>

    </div>
  </nav>
 
</div>






 
