<% include partials/_header %>
<div class="container">
    <div class="row">
      <!--FORM-->
      <div class="col-md-5 offset-md-3">
        <div class="card">
          <div class="card-body">
            <form action="/verAsignaturas/edit/<%= subjects._id %>" method="post">
                <h1><%= subjects.title %></h1>
                <h3><%= subjects.description %></h3>
           </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<% include partials/_footer %>

