<% include partials/_header %>
<center>
    <h1>Pruebas de machos</h1>
</center>

<!-- <form action="/verAsignaturas/edit/<%= subjects._id %>" >
    <h1><%= subjects.title %></h1>
</form> -->

<% include partials/_footer %>

