<% include partials/_header %>
<div class="container">

    <div class="row">
      <!--FORM-->
  <!--     <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <form action="/pruebas/añadir_asignatura" method="post">
              <div class="form-group">
                <input type="nombre"  class="fadeIn second" name="nombre" placeholder="Nombre"> <br>
            </div>
              <div class="form-group">
                <textarea class="form-control" name="description" cols="80"
                  placeholder="Add a Description"
                  ></textarea>
              </div>
              <button class="btn btn-primary" type="submit">
                Add
              </button>
            </form>
          </div>
        </div>
      </div> -->

        <!-- LIST -->
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Rol</th>
            <th>Asignaturas</th>
            <th>Operaciones</th>
          </tr>
        </thead>

        <% for(var i=1; i < user.length; i++) { %>
            <tr>
              <td><%= i + 1%></td>
              <td><strong><%= user[i].email %></strong></td>
              <td><%= user[i].password %></td>
              <td>
              </td>
            </tr>
          <% } %>
      </table>
    </div>
  </div>

</div>
<% include partials/_footer %>